@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "SFUIText-Regular";
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body.fixed {
  overflow-y: hidden;
}

*,
*:after,
*:before {
  -webkit-transition: .3s all ease-in;
  -o-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

::-moz-selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

::selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #fff;
}

a:hover {
  color: #FFD542;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #2D2A2B;
}

input,
textarea,
select {
  color: #4D4D4D;
  font-family: "SFUIText-Regular";
  font-size: 14px;
  padding: 14px 27px;
  border-radius: 3px;
  background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

input,
select {
  border: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #2D2A2B;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #2D2A2B;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #2D2A2B;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px #FFD542;
          box-shadow: 0px 0px 0px 1px #FFD542;
  outline: none;
}

.sr {
  font-family: "SFUIText-Regular";
}

.sm {
  font-family: "SFUIText-Medium";
}

.ss {
  font-family: "SFUIText-Semibold";
}

.sh {
  font-family: "SFUIText-Heavy";
}

.sb {
  font-family: "SFUIText-Bold";
}

.ab {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
}

.shd:hover {
  -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
}

.wt {
  color: #fff !important;
}

a.wt:hover {
  color: #FFD542 !important;
}

.bl {
  color: #000 !important;
}

a.bl:hover {
  color: #FFD542 !important;
}

.dgr {
  color: #626262 !important;
}

a.dgr:hover {
  color: #FFD542 !important;
}

.gr {
  color: #A0A0A0 !important;
}

a.gr:hover {
  color: #FFD542 !important;
}

.wgr {
  color: #ddd;
}

.w100 {
  width: 100%;
}

.fz14 {
  font-size: 14px;
}

.fz12 {
  font-size: 12px;
}

.fz18 {
  font-size: 18px;
}

.dot {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.und {
  text-decoration: underline;
}

.tac {
  text-align: center;
}

.fancybox-content {
  background-color: #1E1E1E;
  margin-top: 0;
}

.fancybox-slide--html {
  padding: 0;
}

.content {
  overflow: hidden;
}

.content .footer__link {
  color: #C6C6C6;
}

.content .footer__link:hover {
  color: #FFD542;
}

.content .footer__logo-descr {
  color: #c6c6c6;
}

.content .footer__let-ttl {
  color: #C6C6C6;
}

.content .footer__let .input__wrp {
  background-color: #232323;
}

.content .footer__let .input__wrp input[type="email"] {
  color: #fff;
}

.content .footer__let .input__wrp input[type="email"]::-webkit-input-placeholder {
  color: #ACACAC;
}

.content .footer__let .input__wrp input[type="email"]::-moz-placeholder {
  color: #ACACAC;
}

.content .footer__let .input__wrp input[type="email"]:-ms-input-placeholder {
  color: #ACACAC;
}

.content .footer__let .input__wrp input[type="email"]::-ms-input-placeholder {
  color: #ACACAC;
}

.content .footer__let .input__wrp input[type="email"]::placeholder {
  color: #ACACAC;
}

.content .footer__let .checkbox__text {
  color: #C6C6C6;
}

.content .footer__let .checkbox__text a {
  color: #C6C6C6;
}

.content .footer__let .checkbox__text a:hover {
  color: #FFD542;
}

.quantity {
  position: relative;
  max-width: 129px;
}

.quantity input {
  font-family: "SFUIText-Bold";
  color: #fff;
  width: 100%;
  padding: 5px;
  background-color: #2B2B2B;
}

.quantity-num {
  text-align: center;
}

.quantity-minus, .quantity-plus {
  position: absolute;
  height: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "SFUIText-Bold";
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.quantity-minus:hover, .quantity-plus:hover {
  background-color: #ccc;
}

.quantity-minus {
  left: 0px;
}

.quantity-plus {
  right: 0px;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 20px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 1px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon__checkbox.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #fff;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.fancybox-container * {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.btn {
  font-size: 16px;
  font-family: "SFUIText-Heavy";
  text-align: center;
  padding: 11px 27px;
  color: #000;
  background-color: #FFD542;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid transparent;
  outline: none;
}

.btn:hover {
  color: #000;
  background-color: #FFDB5F;
  border-color: #FFDB5F;
}

.btn_tr {
  color: #fff;
  background-color: transparent;
  border: 1px solid #D0D0D0;
}

.btn_tr:hover {
  background-color: #4D4D4D;
  border-color: #4D4D4D;
  color: #fff;
}

.btn_tr_black {
  color: #000;
}

.btn_tr_black:hover {
  color: #fff;
  background-color: #4D4D4D;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: #1E1E1E;
  z-index: 1000;
}

.preloader__icon {
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: #FFD542;
  -webkit-animation: rotating-plane 1.2s infinite ease-in-out;
          animation: rotating-plane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #4D4D4D;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #4D4D4D;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #1E1E1E;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #1E1E1E;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #1E1E1E;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #1E1E1E;
}

.tooltip {
  -webkit-transition: .1s opacity ease-in-out;
  -o-transition: .1s opacity ease-in-out;
  transition: .1s opacity ease-in-out;
}

.tooltip-inner {
  max-width: 250px;
  color: #fff;
  background-color: #1E1E1E;
  border-radius: 2px;
}

.popover {
  color: #fff;
  border-radius: 3px;
  background-color: #1b1b1bbf;
  max-width: 380px;
  padding: 20px 18px;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  opacity: 0;
  -webkit-transition: .3s opacity ease-in-out;
  -o-transition: .3s opacity ease-in-out;
  transition: .3s opacity ease-in-out;
  left: -125px !important;
}

.popover-body {
  color: #fff;
}

.bs-popover-bottom > .arrow {
  top: -9px;
  left: auto !important;
  right: 12px !important;
  margin-left: -10px;
  border-width: 0 10px 10px;
}

.bs-popover-bottom > .arrow::after {
  border-bottom-color: #1b1b1bbf;
}

.pop-popover__line-wrp {
  width: 315px;
  height: 10px;
  border-radius: 4px;
  position: relative;
}

.pop-popover__line-yel, .pop-popover__line-bg {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}

.pop-popover__line-bg {
  width: 100%;
  background: #fff;
}

.pop-popover__line-yel {
  background-color: #FFD542;
}

.pop-popover__item {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  opacity: 0;
  font-size: 13px;
}

.pop-popover__item:not(:last-child) {
  margin-bottom: 7px;
}

.pop-popover__item:nth-child(1) .pop-popover__line-yel {
  width: 96%;
}

.pop-popover__item:nth-child(2) .pop-popover__line-yel {
  width: 96%;
}

.pop-popover__item:nth-child(3) .pop-popover__line-yel {
  width: 100%;
}

.pop-popover__item:nth-child(4) .pop-popover__line-yel {
  width: 86%;
}

.pop-popover__item:nth-child(5) .pop-popover__line-yel {
  width: 90%;
}

.pop-popover__item:nth-child(6) .pop-popover__line-yel {
  width: 94%;
}

.show {
  opacity: 1;
}

.show .pop-popover__item {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* KEYFRAMES */
/*FX All The Things */
.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFD542;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 40px;
  right: 40px;
  color: #000;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background: #fff;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #2D2A2B;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  color: #4D4D4D;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #FFD542;
}

.owl-scrollbar {
  margin-top: 10px;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background: rgba(49, 49, 49, 0.75);
  overflow: hidden;
  position: relative;
}

.owl-scrollbar .owl-scroll-handle {
  height: 6px;
  width: 25px;
  border-radius: 3px;
  display: inline-block;
  background: #4D4D4D;
  position: absolute;
  top: 0px;
  left: -1px;
}

.owl-scrollbar .owl-scroll-progress {
  background: #333;
  height: 6px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.owl-dots {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  background-color: #000;
  position: relative;
  padding: 0 !important;
}

.owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-dots button.owl-dot.active {
  background-color: #FFD542;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px !important;
  background-color: #1b1b1b80;
}

.owl-carousel .owl-nav button.owl-prev:hover img,
.owl-carousel .owl-nav button.owl-next:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 36px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.section__subttl {
  font-size: 24px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  letter-spacing: .7px;
  margin-bottom: 28px;
}

.input__wrp {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input__wrp input,
.input__wrp select {
  width: 100%;
  padding-left: 35px;
  border: none;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_name:before {
  background-image: url(../img/icon__form-name.png);
}

.input__wrp_mail:before {
  background-image: url(../img/icon__mail.png);
}

.input__wrp_tel:before {
  background-image: url(../img/icon__form-tel.png);
}

.input__wrp_text {
  border: none;
  position: relative;
  border-radius: 4px;
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input__wrp_gray {
  background-color: #363636;
  border-radius: 4px;
}

.input__wrp_gray input,
.input__wrp_gray textarea {
  padding: 12px 15px;
  color: #fff;
  border-color: transparent;
}

.input__wrp_gray *::-webkit-input-placeholder {
  color: #A0A0A0 !important;
}

.input__wrp_gray *::-moz-placeholder {
  color: #A0A0A0 !important;
}

.input__wrp_gray *:-ms-input-placeholder {
  color: #A0A0A0 !important;
}

.input__wrp_gray *::-ms-input-placeholder {
  color: #A0A0A0 !important;
}

.input__wrp_gray *::placeholder {
  color: #A0A0A0 !important;
}

.input__wrp_gray::before {
  display: none;
}

.header {
  background-color: #202020;
  position: relative;
}

.header_main {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  background-image: url("../img/banner__bg.jpg");
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header_main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .15;
}

.header_main::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #1e1e1e), to(#c3959500));
  background: -o-linear-gradient(bottom, #1e1e1e 20%, #c3959500 100%);
  background: linear-gradient(0deg, #1e1e1e 20%, #c3959500 100%);
  opacity: .6;
}

.header_main .container {
  position: relative;
  z-index: 1;
}

.header_main .header__top {
  padding: 30px 0;
  background-color: transparent;
  height: 10vh;
  z-index: 2;
}

.header_main .header__logo {
  font-size: 22px;
}

.header_main .header__descr {
  color: #fff;
}

.header_main .hamburger__wrp {
  top: 4.1vh;
}

.header__top {
  padding: 10px 0;
  background-color: #1B1B1B;
  font-size: 14px;
  z-index: 1;
  position: relative;
}

.header__top-in {
  padding-right: 30px;
}

.header__logo {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 17px;
}

.header__descr {
  color: #626262;
}

.header__loc {
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.05)), to(rgba(250, 250, 250, 0)));
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 14px;
  color: #fff;
  padding-left: 14px;
}

.header__loc:hover {
  color: #fff;
  background-color: #1E1E1E;
  border-color: #1E1E1E;
}

.header__cab {
  min-width: 219px;
  position: relative;
}

.header__cab::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 230px;
  left: 0;
  top: -10px;
  background-color: #1e1e1eb8;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__cab-top {
  padding-left: 15px;
  padding-left: 15px;
  font-family: "SFUIText-Medium";
  font-size: 16px;
  position: relative;
  z-index: 2;
}

.header__cab-in {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__cab.active::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header__cab.active .header__cab-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header__cab-link {
  padding: 7px 15px;
  display: block;
}

.header__cab-link:hover {
  background-color: #1B1B1B;
}

.header__sign-link {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.header__sign-link:nth-child(1) {
  position: relative;
  margin-right: 30px;
}

.header__sign-link:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  right: -19px;
  top: 0;
}

.header__menu {
  position: absolute;
  top: 0;
  width: 327px;
  right: -100%;
  background-color: #1B1B1B;
  height: 100%;
  padding: 150px 40px 20px;
  z-index: 2;
  -webkit-transition: 0.7s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.7s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.7s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__menu.active {
  position: fixed;
}

.header__menu > * {
  position: relative;
}

.header__menu::before {
  content: '';
  position: absolute;
  width: 300%;
  height: 100%;
  background-color: #1B1B1B;
  left: 100%;
  top: 0;
}

.header__menu-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu-nav-link {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 16px;
  margin-bottom: 30px;
}

.header__menu.active {
  right: 50%;
  margin-right: -webkit-calc(-1320px/2);
  margin-right: calc(-1320px/2);
}

.header__menu-btn {
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.05)), to(rgba(250, 250, 250, 0)));
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 14px;
  color: #fff;
  padding-left: 14px;
  width: 100%;
  max-width: 370px;
}

.header__menu-btn:hover {
  color: #fff;
  background-color: #1E1E1E;
  border-color: #1E1E1E;
}

.header__menu-loc {
  font-size: 16px;
  color: #9C9C9C;
  padding-bottom: 30px;
  border-bottom: 1px solid #323232;
}

.header__menu-loc-link {
  color: #FFD542;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  margin-top: -4px;
  margin-bottom: 0;
  width: 28px;
  height: 15px;
  position: relative;
  cursor: pointer;
}

.hamburger:hover {
  opacity: .7;
}

.hamburger__wrp {
  position: absolute;
  z-index: 4;
  right: 50%;
  top: 2.7vh;
  margin-right: -webkit-calc(-1320px/2);
  margin-right: calc(-1320px/2);
}

.hamburger__wrp.active {
  position: fixed;
}

.hamburger__wrp label {
  margin-bottom: 0;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: #fff;
  display: block;
  border-radius: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  z-index: 4;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 5.5px;
  opacity: 0;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
  top: 0;
}

.bar5 {
  bottom: 0px;
}

.hamburger .bar {
  -webkit-transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
  -o-transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s, -webkit-transform 0.4s ease-in-out 0.4s;
}

.hamburger .bar2 {
  width: 1px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 13.5px;
}

.hamburger .bar3 {
  width: 1px;
  left: 13.5px;
}

.hamburger__checkbox:checked + label > .hamburger > .bar2 {
  left: 0px;
  width: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.hamburger__checkbox:checked + label > .hamburger > .bar3 {
  left: 0;
  width: 30px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.hamburger__checkbox:checked + label > .hamburger > .bar4 {
  background-color: transparent;
}

.hamburger__checkbox:checked + label > .hamburger > .bar5 {
  bottom: 13.5px;
  background-color: transparent;
}

@-webkit-keyframes mouse-spin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes mouse-spin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.banner {
  height: 77vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner > .container {
  z-index: 2;
}

.banner__offer {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.banner__offer.filter-open .banner__ttl {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  margin-bottom: 0;
}

.banner__offer.filter-open .banner__bar {
  margin-top: 20px;
}

.banner__ttl {
  font-size: 37px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  text-align: center;
  margin-bottom: 15px;
}

.banner__subttl {
  font-size: 16px;
  text-align: center;
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
}

.banner__bar {
  position: relative;
  margin-top: 40px;
  padding: 8px;
  font-size: 14px;
}

.banner__bar-wrp {
  position: relative;
}

.banner__bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(27, 27, 27, 0.75);
  border-radius: 4px;
}

.banner__bar > * {
  position: relative;
}

.banner__bar-act-link {
  font-family: "SFUIText-Regular";
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.05)), to(rgba(250, 250, 250, 0)));
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%);
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
  width: 136px;
  padding: 14px 10px;
  color: #fff;
  border-radius: 3px;
}

.banner__bar-act-link.active, .banner__bar-act-link:hover {
  color: #fff;
  background-color: #1E1E1E;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner__bar .input__wrp {
  min-width: 315px;
  background-color: #ffffff2b;
}

.banner__bar .input__wrp::before {
  background-image: url("../img/icon_earth.png");
}

.banner__bar .input__wrp input {
  color: #fff;
}

.banner__bar .input__wrp input::-webkit-input-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input::-moz-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input:-ms-input-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input::-ms-input-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input::placeholder {
  color: #fff;
}

.banner__bar-submit {
  font-family: "SFUIText-Heavy";
  width: 168px;
}

.banner-filter__wrp {
  margin-top: 10px;
  display: none;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.banner-filter__top {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #252525e3;
  position: relative;
}

.banner-filter__top::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 244px;
  border: 10px solid #0000;
  border-bottom: 10px solid #252525e3;
}

.banner-filter__top-btn {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/icon__cross.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
  cursor: pointer;
}

.banner-filter__top-btn:hover {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.banner-filter__bot {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #212121bf;
}

.banner-filter__item {
  padding: 12px 15px;
  position: relative;
}

.banner-filter__item:not(:last-child) {
  border-bottom: 1px solid #ffffff2e;
}

.banner-filter__item-ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 16px;
  position: relative;
  width: 100%;
}

.banner-filter__item_left {
  padding: 0;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.banner-filter__item_left .checkbox {
  width: 100%;
  height: 100%;
}

.banner-filter__item_left .checkbox__text {
  height: 100%;
  padding: 12px 15px;
}

.banner-filter__item_left .checkbox__text div {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.banner-filter__item_left .checkbox__text::after {
  display: none;
}

.banner-filter__item_left .checkbox__text::before {
  width: 100%;
  height: 120%;
  border: none;
  background-color: transparent;
  border-radius: 0;
  left: 0;
  top: -3px;
}

.banner-filter__item_left .checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.banner-filter__item_left .checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #FFD542;
}

.banner-filter__item_left .checkbox input[type="radio"]:checked + .checkbox__text div {
  color: #000;
}

.banner-filter__right {
  padding: 25px 15px 7px;
}

.banner-filter__input {
  color: #fff;
  max-width: 115px;
  padding: 11px 15px;
}

.banner-filter__input:focus, .banner-filter__input:active, .banner-filter__input::-webkit-input-placeholder {
  color: #fff;
}

.banner-filter__input:focus, .banner-filter__input:active, .banner-filter__input::-moz-placeholder {
  color: #fff;
}

.banner-filter__input:focus, .banner-filter__input:active, .banner-filter__input:-ms-input-placeholder {
  color: #fff;
}

.banner-filter__input:focus, .banner-filter__input:active, .banner-filter__input::-ms-input-placeholder {
  color: #fff;
}

.banner-filter__input:focus, .banner-filter__input:active, .banner-filter__input::placeholder {
  color: #fff;
}

.banner-filter__reset {
  font-size: 14px;
  color: #fff;
  opacity: .5;
  margin-top: 13px;
  margin-bottom: 13px;
}

.banner-filter__submit {
  font-size: 14px;
  font-family: "SFUIText-Heavy";
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.banner-filter__slider {
  margin-top: 30px;
  width: 90%;
  margin-left: 7px;
  margin-right: auto;
}

.banner-filter__act {
  width: 100%;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.banner__bot {
  height: 13vh;
  padding: 15px 0;
}

.banner__bot-btn {
  text-align: center;
  cursor: pointer;
}

.banner__bot-btn span {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 16px;
  margin-bottom: 15px;
}

.banner__bot-btn img {
  -webkit-animation: mouse-spin linear 2s infinite;
          animation: mouse-spin linear 2s infinite;
}

.banner__bot-btn:hover {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.banner__bot-lang-wrp {
  width: 142px;
}

.banner__bot-lang-link {
  font-family: "SFUIText-Bold";
}

.banner__bot-lang-link:nth-child(1) {
  position: relative;
  margin-right: 20px;
}

.banner__bot-lang-link:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  right: -12px;
  top: 0;
}

.banner__bot-lang-link.active {
  color: #FFD542;
}

.banner__soc-link:not(:last-child) {
  margin-right: 43px;
}

.banner__soc-link:hover img {
  opacity: .4;
}

.acc__item-wrp .acc__btn {
  position: relative;
  cursor: pointer;
}

.acc__item-wrp .acc__btn::before, .acc__item-wrp .acc__btn::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: 10px;
  right: 0px;
  background-color: #fff;
}

.acc__item-wrp .acc__btn::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.acc__item-wrp .acc__btn.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.acc__item-wrp .acc__cnt {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.ui-slider {
  position: relative;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  background-color: #FFD542;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  outline: none;
}

.ui-slider .ui-slider-handle:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

.ui-slider-horizontal {
  height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-widget-content {
  background: #fff;
}

.ui-widget-header {
  background: #5C5C5C;
}

.ui-corner-all {
  border-radius: 4px;
}

.pop {
  background-color: #1E1E1E;
  overflow: hidden;
}

.pop__item {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.pop__item-wrp.hover .pop-popup__top,
.pop__item-wrp.hover .pop-popup__in {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.pop__item-wrp.hover .pop__item-rate {
  opacity: 0;
}

.pop__item-wrp.hover .pop-popup__line-yel {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.pop__item-top {
  height: 280px;
  width: 100%;
  padding: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pop__item-rate {
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  cursor: pointer;
}

.pop__item-rate span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop__item-rate span:nth-child(1) {
  font-size: 12px;
  font-family: "SFUIText-Bold";
  text-align: center;
  color: #fff;
  padding: 8px;
  background-color: rgba(27, 27, 27, 0.75);
}

.pop__item-rate span:nth-child(2) {
  font-size: 18px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  background-color: #FFD542;
  color: #000;
  padding: 8px;
}

.pop__item-info {
  padding: 20px 16px;
}

.pop__item-btns .btn {
  width: 186px;
}

.pop__item-ttl {
  color: #000;
  font-size: 24px;
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.pop__item-fav {
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icon__fav.png");
  opacity: .2;
}

.pop__item-fav.active {
  opacity: 1;
}

.pop__item-fav:hover {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 1;
}

.pop__item p {
  color: #4A4A4A;
}

.pop__item-char {
  position: relative;
}

.pop__item-char-wrp {
  width: 130px;
  position: relative;
}

.pop__item-char-wrp:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
  opacity: .1;
  right: 0px;
}

.pop__item-char-ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 18px;
}

.pop__item-char > div:nth-child(2) {
  font-size: 13.5px;
}

.pop-popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1b1b1bbf;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.pop-popup__top {
  padding: 20px;
  background-color: rgba(27, 27, 27, 0.75);
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: .0;
}

.pop-popup__close {
  width: 17px;
  height: 17px;
  background-image: url("../img/icon__cross.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
  cursor: pointer;
}

.pop-popup__close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pop-popup__right > div:nth-child(1) {
  font-size: 11px;
  font-family: "SFUIText-Bold";
  text-align: center;
  color: #fff;
  padding-right: 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pop-popup__right > div:nth-child(2) {
  font-size: 18px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  background-color: #FFD542;
  color: #000;
  padding: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pop-popup__in {
  padding: 20px 20px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: .0;
}

.pop-popup__line-wrp {
  width: 90%;
  max-width: 370px;
  height: 10px;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.pop-popup__line-yel, .pop-popup__line-bg {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}

.pop-popup__line-bg {
  width: 100%;
  background: #fff;
}

.pop-popup__line-yel {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
  -webkit-transition: 2.7s all ease;
  -o-transition: 2.7s all ease;
  transition: 2.7s all ease;
  background-color: #FFD542;
}

.pop-popup__item {
  color: #fff;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  font-size: 13px;
}

.sel {
  color: #000;
}

.sel .owl-nav button.owl-prev, .sel .owl-nav button.owl-next {
  opacity: .3;
  background-color: transparent;
}

.sel .owl-nav button.owl-prev:hover, .sel .owl-nav button.owl-next:hover {
  opacity: 1;
  background-color: transparent;
}

.sel .owl-dots {
  position: relative;
}

.sel__in {
  padding-left: 80px;
  padding-right: 80px;
}

.sel__img {
  width: 100%;
  max-width: 550px;
  height: 335px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.sel__info {
  font-size: 16px;
}

.sel__price {
  font-size: 18px;
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.sel__price span:nth-child(2) {
  color: #a1a1a1;
}

.let {
  font-size: 16px;
  color: #fff;
  position: relative;
  background-image: url("../img/let__bg.jpg");
  position: relative;
  padding: 100px 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.let::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .7;
}

.let .container {
  position: relative;
}

.ann {
  color: #000;
}

.ann .owl-nav button.owl-next {
  max-height: 440px;
}

.ann .owl-nav button.owl-prev {
  max-height: 440px;
}

.ann__item {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.ann__item-btn {
  font-size: 14px;
  color: #1E1E1E;
}

.ann__item-img {
  width: 100%;
  height: 440px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.ann__item-ttl {
  color: #000;
  font-family: "AkzidenzGroteskPro-BoldEx";
  display: block;
  margin-bottom: 25px;
}

.ann__item-descr {
  line-height: 1.7;
}

.ann__in-counter {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.footer {
  color: #fff;
  background-color: #151515;
  padding: 40px 0;
}

.footer__link {
  font-size: 14px;
  font-family: "SFUIText-Bold";
}

.footer__link_policy {
  font-family: "SFUIText-Regular";
}

.footer__let-ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.footer__logo {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 22px;
}

.footer__logo-descr {
  font-size: 14px;
}

.main {
  background-color: #262626;
  color: #fff;
  padding: 30px 0;
}

.res-step__top {
  margin-bottom: 25px;
}

.res-step__top-subttl {
  font-family: "SFUIText-Bold";
  color: #FFD542;
}

.res-step__top-ttl {
  font-size: 24px;
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.res-card {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.res-card .owl-nav button {
  opacity: 0;
}

.res-card:hover .owl-nav button {
  opacity: 1;
}

.res-card__check {
  background-color: #FFD542;
  width: 77px;
  height: 77px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  z-index: 2;
  -webkit-transition: 0.5s all cubic-bezier(0.6, -0.28, 0.74, 0.05);
  -o-transition: 0.5s all cubic-bezier(0.6, -0.28, 0.74, 0.05);
  transition: 0.5s all cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.res-card.checked .res-card__check {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.res-card__top-item {
  width: 100%;
  height: 273px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.res-card__bot {
  background-color: #fff;
  padding: 25px;
}

.res-card__bot-ttl {
  font-size: 18px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  margin-bottom: 12px;
  color: #000;
}

.res-card__bot-descr {
  color: #4A4A4A;
  line-height: 1.6;
}

.res-card__bot-more {
  font-size: 14px;
  color: #1E1E1E;
}

.res-card__bot-btns .btn {
  width: 49%;
}

.res__legend {
  font-size: 12px;
  font-family: "SFUIText-Medium";
}

.res__legend-block {
  width: 32px;
  height: 16px;
}

.res__check {
  font-family: "SFUIText-Medium";
  border-radius: 3px;
  padding: 8px 14px;
  background-color: #282828;
}

.res__check:not(:last-child) {
  margin-right: 10px;
}

.res__check_radio .checkbox__text::before {
  border-radius: 50%;
}

.res__check_radio .checkbox__text::after {
  top: 6px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-image: none;
  background-color: #fff;
  border-radius: 50%;
}

.res__eq {
  background-color: #363636;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.res__eq:not(:last-child) {
  margin-bottom: 10px;
}

.res__eq-img {
  width: 127px;
  height: 127px;
  border-radius: 4px;
  @inclunde cv {}
}

.res__eq-top div:nth-child(1) {
  font-size: 14px;
}

.res__eq-top div:nth-child(2) {
  width: 150px;
  text-align: right;
}

.res__eq-descr {
  margin-top: 8px;
  color: #A0A0A0;
  font-size: 12px;
}

.res__eq-quantity {
  max-width: 99px;
  margin-left: auto;
}

.res__eq-quantity-wrp {
  width: 100%;
  padding: 8px;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
}

.res__eq:hover .res__eq-quantity-wrp {
  visibility: visible;
  opacity: 1;
}

.res__det {
  background-color: #363636;
  border-radius: 3px;
  padding: 30px 25px;
  color: #A0A0A0;
  font-size: 14px;
}

.res__det-in {
  max-width: 670px;
}

.res__det-in .row {
  margin-bottom: 15px;
  position: relative;
}

.res__det-in .row:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px dashed #4A4848;
  bottom: -8px;
  left: 15px;
}

.res__det-total {
  font-size: 18px;
  margin-top: 25px;
}

.res__login {
  font-size: 14px;
}

.res__login-btn {
  font-size: 12px;
  padding: 9px 15px;
}

.res__pay-item {
  width: 100%;
  height: 80px;
  background-color: #363636;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.res__pay-item .checkbox__text {
  height: 30px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.res__pay-item .checkbox__text::before {
  width: 20px;
  height: 20px;
  left: 11px;
  top: -10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  border-radius: 50%;
}

.res__pay-item .checkbox__text::after {
  left: 14px;
  top: -6px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.res__pay-item input[type="checkbox"]:checked + .checkbox__text:after,
.res__pay-item input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.res__pay-item input[type="checkbox"]:checked + .checkbox__text:before,
.res__pay-item input[type="radio"]:checked + .checkbox__text:before {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.res__pay-item:hover {
  opacity: .7;
}

.res__total-btn {
  width: 100%;
}

.res__total-btn span {
  opacity: .3;
  margin-right: 10px;
}

.room__top-ttl {
  font-size: 36px;
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.room__fav {
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icon__fav_white.png");
  opacity: .2;
}

.room__fav.active {
  opacity: 1;
}

.room__fav:hover {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 1;
}

.room__rate {
  position: relative;
  width: 310px;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.room__rate-top {
  padding: 10px 20px;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.room__rate-close {
  width: 17px;
  height: 17px;
  background-image: url("../img/icon__cross.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
  cursor: pointer;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.room__rate-right > div:nth-child(1) {
  font-size: 18px;
  font-family: "SFUIText-Bold";
  text-align: center;
  color: #fff;
  padding-right: 8px;
}

.room__rate-right > div:nth-child(1) a {
  font-family: "SFUIText-Regular";
  font-size: 16px;
  margin-top: -5px;
}

.room__rate-right > div:nth-child(2) {
  font-size: 19px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  background-color: #FFD542;
  color: #000;
  padding: 8px;
  border-radius: 3px;
}

.room__rate-in {
  position: absolute;
  padding: 10px 20px;
  top: 68px;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.75);
  z-index: 3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.room__rate-line-wrp {
  width: 90%;
  max-width: 370px;
  height: 10px;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.room__rate-line-yel, .room__rate-line-bg {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}

.room__rate-line-bg {
  width: 100%;
  background: #fff;
}

.room__rate-line-yel {
  -webkit-transition: 2.7s all ease;
  -o-transition: 2.7s all ease;
  transition: 2.7s all ease;
  background-color: #FFD542;
}

.room__rate-item {
  color: #fff;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  font-size: 13px;
}

.room__rate-item:not(:last-child) {
  margin-bottom: 10px;
}

.room__rate.hover .room__rate-top {
  background-color: rgba(27, 27, 27, 0.75);
}

.room__rate.hover .room__rate-close {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.room__card-slider_top {
  margin-bottom: 10px;
}

.room__card-slider_top-item {
  width: 100%;
  height: 393px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.room__card-slider_bot .synced.owl-item {
  opacity: .7;
}

.room__card-slider_bot-item {
  width: 100%;
  height: 84px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.room__card-char-item {
  width: 33%;
  position: relative;
  padding: 0px 35px;
}

.room__card-char-item:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  right: 0px;
}

.room__card-opt-item {
  background-color: #313131;
  border-radius: 4px;
  padding: 5px 8px;
  min-height: 30px;
  min-width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.room__card-opt-item:not(:last-child) {
  margin-right: 6px;
}

.room__card-opt img {
  max-width: 20px;
  max-height: 18px;
  height: auto;
}

.room__card-btns {
  font-size: 19px;
}

.room__card-btns .btn {
  font-size: 19px;
}

.room__ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 24px;
  margin-bottom: 28px;
}

.room__char-item {
  background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(rgba(41, 41, 41, 0)));
  background: -o-linear-gradient(top, #292929 0%, rgba(41, 41, 41, 0) 100%);
  background: linear-gradient(180deg, #292929 0%, rgba(41, 41, 41, 0) 100%);
  border: 1px solid #383838;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.room__char-item-left {
  width: 80%;
}

.room__char-item-ttl {
  font-size: 19px;
  font-family: "SFUIText-Semibold";
  margin-bottom: 6px;
}

.room__char-item-descr {
  color: #ADADAD;
  line-height: 1.4;
}

.room__char-item-img {
  width: 35px;
  height: 40px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.room__serv-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.room__serv-item-left {
  width: 80%;
}

.room__serv-item-ttl {
  font-size: 19px;
  font-family: "SFUIText-Semibold";
  margin-bottom: 6px;
}

.room__serv-item-descr {
  color: #ADADAD;
  line-height: 1.4;
}

.room__serv-item-img {
  width: 35px;
  height: 40px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 25px;
}

.room__gallery-item {
  width: 100%;
  height: 450px;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.room__gallery-item:hover {
  opacity: .7;
}
