@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "SFUIText-Regular";
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

::-moz-selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

::selection {
  color: #1E1E1E;
  background-color: #FFD542;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #fff;
}

a:hover {
  color: #FFD542;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #2D2A2B;
}

input,
textarea,
select {
  color: #4D4D4D;
  font-family: "SFUIText-Regular";
  font-size: 14px;
  padding: 14px 27px;
  background: none;
}

input,
select {
  border: none;
  border-bottom: 1px solid #000;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #2D2A2B;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #2D2A2B;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #2D2A2B;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px #FFD542;
          box-shadow: 0px 0px 0px 1px #FFD542;
  outline: none;
}

.sr {
  font-family: "SFUIText-Regular";
}

.sm {
  font-family: "SFUIText-Medium";
}

.ss {
  font-family: "SFUIText-Semibold";
}

.sh {
  font-family: "SFUIText-Heavy";
}

.sb {
  font-family: "SFUIText-Bold";
}

.ab {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
}

.shd:hover {
  -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
}

.wt {
  color: #fff !important;
}

.bl {
  color: #000 !important;
}

.dot {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.und {
  text-decoration: underline;
}

.tac {
  text-align: center;
}

.btn {
  font-size: 16px;
  font-family: "SFUIText-Heavy";
  text-align: center;
  padding: 11px 27px;
  color: #000;
  background-color: #FFD542;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid transparent;
  outline: none;
}

.btn:hover {
  color: #000;
  background-color: #FFDB5F;
  border-color: #FFDB5F;
}

.btn_tr {
  color: #fff;
  background-color: transparent;
  border: 1px solid #D0D0D0;
}

.btn_tr:hover {
  background-color: #4D4D4D;
  border-color: #4D4D4D;
  color: #fff;
}

.btn_tr_black {
  color: #000;
}

.btn_tr_black:hover {
  color: #fff;
  background-color: #4D4D4D;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: #1E1E1E;
  z-index: 1000;
}

.preloader__icon {
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: #FFD542;
  -webkit-animation: rotating-plane 1.2s infinite ease-in-out;
          animation: rotating-plane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #4D4D4D;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #4D4D4D;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative;
  /* opinion 1 */
}

[tooltip] > * {
  -webkit-transition: .9s all ease-in-out;
  -o-transition: .9s all ease-in-out;
  transition: .9s all ease-in-out;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: .9em;
  /* opinion 3 */
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  /*
		Let the content set the size of the tooltips
		but this will also keep them from being obnoxious
		*/
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  -webkit-box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
          box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: -webkit-calc(100% + 5px);
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -0.5em);
      -ms-transform: translate(-50%, -0.5em);
          transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: -webkit-calc(100% + 5px);
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 0.5em);
      -ms-transform: translate(-50%, 0.5em);
          transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: -webkit-calc(0em - 5px);
  left: calc(0em - 5px);
  -webkit-transform: translate(-0.5em, -50%);
      -ms-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: -webkit-calc(100% + 5px);
  right: calc(100% + 5px);
  -webkit-transform: translate(-0.5em, -50%);
      -ms-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: -webkit-calc(0em - 5px);
  right: calc(0em - 5px);
  -webkit-transform: translate(0.5em, -50%);
      -ms-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: -webkit-calc(100% + 5px);
  left: calc(100% + 5px);
  -webkit-transform: translate(0.5em, -50%);
      -ms-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@-webkit-keyframes tooltips-vert {
  to {
    opacity: .9;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@keyframes tooltips-vert {
  to {
    opacity: .9;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  -webkit-animation: tooltips-vert 300ms ease-out forwards;
          animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  -webkit-animation: tooltips-horz 300ms ease-out forwards;
          animation: tooltips-horz 300ms ease-out forwards;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFD542;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 40px;
  right: 40px;
  color: #000;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background: #fff;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #2D2A2B;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  color: #4D4D4D;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #gray;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #FFD542;
}

.owl-dots {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  background-color: #000;
  position: relative;
  padding: 0 !important;
}

.owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-dots button.owl-dot.active {
  background-color: #FFD542;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px !important;
  background-color: transparent;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #1e1e1ea8;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 36px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.section__subttl {
  font-size: 24px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  letter-spacing: .7px;
  margin-bottom: 28px;
}

.input__wrp {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
}

.input__wrp input,
.input__wrp select {
  width: 100%;
  padding-left: 35px;
  border: none;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_name:before {
  background-image: url(../img/icon__form-name.png);
}

.input__wrp_mail:before {
  background-image: url(../img/icon__mail.png);
}

.input__wrp_tel:before {
  background-image: url(../img/icon__form-tel.png);
}

.header {
  background-color: #202020;
}

.header_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  background-color: transparent;
  background-image: url("../img/banner__bg.jpg");
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header_main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .6;
}

.header_main::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #1e1e1e), to(#c3959500));
  background: -o-linear-gradient(bottom, #1e1e1e 20%, #c3959500 100%);
  background: linear-gradient(0deg, #1e1e1e 20%, #c3959500 100%);
}

.header_main .container {
  position: relative;
  z-index: 1;
}

.header_main .header__top {
  height: 10vh;
}

.header__top {
  padding: 30px 0;
  font-size: 14px;
}

.header__logo {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 22px;
}

.header__loc {
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.15)), to(rgba(250, 250, 250, 0))), rgba(255, 255, 255, 0.1);
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0.15) 0%, rgba(250, 250, 250, 0) 100%), rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.15) 0%, rgba(250, 250, 250, 0) 100%), rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__loc:hover {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
}

.header__sign-link:nth-child(1) {
  position: relative;
  margin-right: 30px;
}

.header__sign-link:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  right: -19px;
  top: 0;
}

.header__hamb {
  width: 20px;
  height: 15px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/header__hamb.svg");
}

.header__hamb:hover {
  opacity: .7;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

@-webkit-keyframes mouse-spin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes mouse-spin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.banner {
  height: 77vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__offer {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.banner__ttl {
  font-size: 37px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  text-align: center;
  margin-bottom: 15px;
}

.banner__subttl {
  font-size: 16px;
  text-align: center;
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
}

.banner__bar {
  position: relative;
  margin-top: 40px;
  padding: 8px;
}

.banner__bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(27, 27, 27, 0.75);
  border-radius: 4px;
}

.banner__bar > * {
  position: relative;
}

.banner__bar-act-link:nth-child(1) {
  position: relative;
  margin-right: 30px;
}

.banner__bar-act-link:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 38px;
  background-color: #fff;
  right: -19.5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.banner__bar .input__wrp {
  min-width: 295px;
  background-color: #ffffff5e;
}

.banner__bar .input__wrp::before {
  background-image: url("../img/icon_earth.png");
}

.banner__bar .input__wrp input {
  color: #fff;
}

.banner__bar .input__wrp input::-webkit-input-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input::-moz-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input:-ms-input-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input::-ms-input-placeholder {
  color: #fff;
}

.banner__bar .input__wrp input::placeholder {
  color: #fff;
}

.banner__bar .btn {
  min-width: 150px;
}

.banner__bot {
  height: 13vh;
  padding: 15px 0;
}

.banner__bot-btn {
  cursor: pointer;
}

.banner__bot-btn span {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 16px;
  margin-bottom: 15px;
}

.banner__bot-btn img {
  -webkit-animation: mouse-spin linear 2s infinite;
          animation: mouse-spin linear 2s infinite;
}

.banner__bot-btn:hover {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.banner__bot-lang-link {
  font-family: "SFUIText-Bold";
}

.banner__bot-lang-link:nth-child(1) {
  position: relative;
  margin-right: 20px;
}

.banner__bot-lang-link:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  right: -12px;
  top: 0;
}

.banner__bot-lang-link.active {
  color: #FFD542;
}

.pop {
  background-color: #1E1E1E;
  overflow: hidden;
}

.pop__item {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.pop__item-top {
  height: 280px;
  width: 100%;
  padding: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pop__item-rate {
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.pop__item-rate span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop__item-rate span:nth-child(1) {
  font-size: 12px;
  font-family: "SFUIText-Bold";
  text-align: center;
  color: #fff;
  padding: 8px;
  background-color: rgba(27, 27, 27, 0.75);
}

.pop__item-rate span:nth-child(2) {
  font-size: 18px;
  font-family: "AkzidenzGroteskPro-BoldEx";
  background-color: #FFD542;
  color: #000;
  padding: 8px;
}

.pop__item-info {
  padding: 20px 15px;
}

.pop__item-ttl {
  color: #000;
  font-size: 24px;
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.pop__item-fav {
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icon__fav.png");
  opacity: .2;
}

.pop__item-fav.active {
  opacity: 1;
}

.pop__item-fav:hover {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 1;
}

.pop__item p {
  color: #4A4A4A;
}

.pop__item-char {
  position: relative;
}

.pop__item-char:not(:last-child) {
  margin-right: 30px;
}

.pop__item-char:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
  opacity: .1;
  right: -30px;
  top: 0;
}

.pop__item-char-ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 18px;
}

.pop__item-char > div:nth-child(2) {
  font-size: 14px;
}

.sel {
  color: #000;
}

.sel .owl-dots {
  position: relative;
}

.sel__in {
  padding-left: 80px;
  padding-right: 80px;
}

.sel__img {
  width: 100%;
  max-width: 550px;
  height: 335px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.sel__info {
  font-size: 16px;
}

.sel__price {
  font-size: 18px;
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.sel__price span:nth-child(2) {
  color: #a1a1a1;
}

.let {
  font-size: 16px;
  color: #fff;
  position: relative;
  background-image: url("../img/let__bg.jpg");
  position: relative;
  padding: 100px 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

.let::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .7;
}

.let .container {
  position: relative;
}

.ann {
  color: #000;
}

.ann .owl-nav button.owl-next {
  max-height: 440px;
}

.ann .owl-nav button.owl-next:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.ann .owl-nav button.owl-prev {
  max-height: 440px;
}

.ann .owl-nav button.owl-prev:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.ann__item {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.ann__item-img {
  width: 100%;
  height: 440px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ann__item-ttl {
  color: #000;
  font-family: "AkzidenzGroteskPro-BoldEx";
  display: block;
}

.ann__in-counter {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.footer {
  color: #fff;
  background-image: url("../img/footer__bg.jpg");
  padding: 40px 0;
}

.footer__link {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.footer__let-ttl {
  font-family: "AkzidenzGroteskPro-BoldEx";
}

.footer__logo {
  font-family: "AkzidenzGroteskPro-BoldEx";
  font-size: 22px;
}

.footer__logo-descr {
  font-size: 14px;
}
