@media (min-width: 1320px) {
  .container {
    max-width: 1350px;
  }
}

@media screen and (max-width: 1200px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .section__ttl {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}
