@font-face {
	font-family: 'AkzidenzGroteskPro-LightIt';
	src: url('AkzidenzGroteskPro-LightIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-XBdIt';
	src: url('AkzidenzGroteskPro-XBdIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-XBdIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-SuperItalic';
	src: url('AkzidenzGroteskPro-SuperItalic.woff2') format('woff2'),
		url('AkzidenzGroteskPro-SuperItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-It';
	src: url('AkzidenzGroteskPro-It.woff2') format('woff2'),
		url('AkzidenzGroteskPro-It.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Md';
	src: url('AkzidenzGroteskPro-Md.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Md.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Semibold';
	src: url('SFUIText-Semibold.woff2') format('woff2'),
		url('SFUIText-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-BoldIt';
	src: url('AkzidenzGroteskPro-BoldIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-LightCnItalic';
	src: url('AkzidenzGroteskPro-LightCnItalic.woff2') format('woff2'),
		url('AkzidenzGroteskPro-LightCnItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIText-Bold';
	src: url('SFUIText-Bold.woff2') format('woff2'),
		url('SFUIText-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Bold';
	src: url('AkzidenzGroteskPro-Bold.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Medium';
	src: url('SFUIText-Medium.woff2') format('woff2'),
		url('SFUIText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Regular';
	src: url('SFUIText-Regular.woff2') format('woff2'),
		url('SFUIText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-XBdCn';
	src: url('AkzidenzGroteskPro-XBdCn.woff2') format('woff2'),
		url('AkzidenzGroteskPro-XBdCn.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay-Medium';
	src: url('SFUIDisplay-Medium.woff2') format('woff2'),
		url('SFUIDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Heavy';
	src: url('SFUIText-Heavy.woff2') format('woff2'),
		url('SFUIText-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay-Light';
	src: url('SFUIDisplay-Light.woff2') format('woff2'),
		url('SFUIDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-ExtItalic';
	src: url('AkzidenzGroteskPro-ExtItalic.woff2') format('woff2'),
		url('AkzidenzGroteskPro-ExtItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIDisplay-Thin';
	src: url('SFUIDisplay-Thin.woff2') format('woff2'),
		url('SFUIDisplay-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay-Bold';
	src: url('SFUIDisplay-Bold.woff2') format('woff2'),
		url('SFUIDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay-Black';
	src: url('SFUIDisplay-Black.woff2') format('woff2'),
		url('SFUIDisplay-Black.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Cn';
	src: url('AkzidenzGroteskPro-Cn.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Cn.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Ext';
	src: url('AkzidenzGroteskPro-Ext.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Ext.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-MdCn';
	src: url('AkzidenzGroteskPro-MdCn.woff2') format('woff2'),
		url('AkzidenzGroteskPro-MdCn.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-MedExtIt';
	src: url('AkzidenzGroteskPro-MedExtIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-MedExtIt.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIText-MediumItalic';
	src: url('SFUIText-MediumItalic.woff2') format('woff2'),
		url('SFUIText-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-BoldEx';
	src: url('AkzidenzGroteskPro-BoldEx.woff2') format('woff2'),
		url('AkzidenzGroteskPro-BoldEx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-CnIt';
	src: url('AkzidenzGroteskPro-CnIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-CnIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIText-LightItalic';
	src: url('SFUIText-LightItalic.woff2') format('woff2'),
		url('SFUIText-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIText-RegularItalic';
	src: url('SFUIText-RegularItalic.woff2') format('woff2'),
		url('SFUIText-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-MdEx';
	src: url('AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
		url('AkzidenzGroteskPro-MdEx.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Light';
	src: url('AkzidenzGroteskPro-Light.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-LightCn';
	src: url('AkzidenzGroteskPro-LightCn.woff2') format('woff2'),
		url('AkzidenzGroteskPro-LightCn.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-XBdCnIt';
	src: url('AkzidenzGroteskPro-XBdCnIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-XBdCnIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIDisplay-Regular';
	src: url('SFUIDisplay-Regular.woff2') format('woff2'),
		url('SFUIDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-HeavyItalic';
	src: url('SFUIText-HeavyItalic.woff2') format('woff2'),
		url('SFUIText-HeavyItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIText-SemiboldItalic';
	src: url('SFUIText-SemiboldItalic.woff2') format('woff2'),
		url('SFUIText-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIDisplay-Semibold';
	src: url('SFUIDisplay-Semibold.woff2') format('woff2'),
		url('SFUIDisplay-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-LigExtIt';
	src: url('AkzidenzGroteskPro-LigExtIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-LigExtIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIText-Light';
	src: url('SFUIText-Light.woff2') format('woff2'),
		url('SFUIText-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Super';
	src: url('AkzidenzGroteskPro-Super.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Super.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-BoldItalic';
	src: url('SFUIText-BoldItalic.woff2') format('woff2'),
		url('SFUIText-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIDisplay-Heavy';
	src: url('SFUIDisplay-Heavy.woff2') format('woff2'),
		url('SFUIDisplay-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-BoldCn';
	src: url('AkzidenzGroteskPro-BoldCn.woff2') format('woff2'),
		url('AkzidenzGroteskPro-BoldCn.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-LightEx';
	src: url('AkzidenzGroteskPro-LightEx.woff2') format('woff2'),
		url('AkzidenzGroteskPro-LightEx.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Regular';
	src: url('AkzidenzGroteskPro-Regular.woff2') format('woff2'),
		url('AkzidenzGroteskPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-MdCnIt';
	src: url('AkzidenzGroteskPro-MdCnIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-MdCnIt.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-BoldExIt';
	src: url('AkzidenzGroteskPro-BoldExIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-BoldExIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-BoldCnIt';
	src: url('AkzidenzGroteskPro-BoldCnIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-BoldCnIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-MdIt';
	src: url('AkzidenzGroteskPro-MdIt.woff2') format('woff2'),
		url('AkzidenzGroteskPro-MdIt.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SFUIDisplay-Ultralight';
	src: url('SFUIDisplay-Ultralight.woff2') format('woff2'),
		url('SFUIDisplay-Ultralight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskPro-XBd';
	src: url('AkzidenzGroteskPro-XBd.woff2') format('woff2'),
		url('AkzidenzGroteskPro-XBd.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

