@import "../fonts/fonts.css"

$yel: #FFD542
$lyel: #FFDB5F
$dark: #1E1E1E
$gray: #4D4D4D
$lgray: #a1a1a1
$tr: transparent
$sreg: 'SFUIText-Regular'
$smed: 'SFUIText-Medium'
$ssem: 'SFUIText-Semibold'
$shev: 'SFUIText-Heavy'
$sbold: 'SFUIText-Bold'

$abold: 'AkzidenzGroteskPro-BoldEx'
@mixin ct
	background-position: 50% 50%
	background-size: contain
	background-repeat: no-repeat
@mixin cv
	background-position: 50% 50%
	background-size: cover
	background-repeat: no-repeat
@mixin ovl
	content: ''
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
body
	scroll-behavior: smooth
	background-color: #fff
	font-family: $sreg
	color: #fff
	font-size: 16px
	line-height: 1.4
	position: relative
	-webkit-font-smoothing: antialiased
*,
*:after,
*:before
	transition: .3s all ease
// .animated
// 	transition: unset
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color            : $dark
	background-color : $yel
::selection
	color            : $dark
	background-color : $yel
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: #fff
	&:hover
		color: $yel
button
	border: transparent
	background: none
option
	color: #2D2A2B
textarea
	resize:none
input,
textarea,
select
	color: $gray
	font-family: $sreg
	font-size: 14px
	padding: 14px 27px
	background: none
input,
select
	border: none
	border-bottom: 1px solid #000
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder
	color: #2D2A2B
input:focus,
textarea:focus,
input:active,
textarea:active
	background: none
	color: #2D2A2B
	border-radius: 3px
	box-shadow: 0px 0px 0px 1px $yel
	outline: none
.sr
	font-family: $sreg
.sm
	font-family: $smed
.ss
	font-family: $ssem
.sh
	font-family: $shev
.sb
	font-family: $sbold
.ab
	font-family: $abold
.shd,
	box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64)
	&:hover
		box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69)
.wt
	color: #fff !important
.bl
	color: #000 !important
.dot
	text-decoration: underline
	text-decoration-style: dotted
.und
	text-decoration: underline
.tac
	text-align: center
.btn
	font-size: 16px
	font-family: $shev
	text-align: center
	padding: 11px 27px
	color: #000
	background-color: $yel
	position: relative
	display: inline-block
	border-radius: 3px
	border: 1px solid $tr
	outline: none
	&:hover
		color: #000
		background-color: $lyel
		border-color: $lyel
	&_tr
		color: #fff
		background-color: transparent
		border: 1px solid #D0D0D0
		&:hover
			background-color: $gray
			border-color: $gray
			color: #fff
		&_black
			color: #000
			&:hover
				color: #fff
				background-color: $gray
.preloader
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	min-height: 100vh
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-content: space-around
	flex: 1 1 25%
	background-color: $dark
	z-index: 1000

.preloader__icon
	width: 4em
	height: 4em
	margin: auto
	background-color: $yel
	animation: rotating-plane 1.2s infinite ease-in-out

@keyframes rotating-plane
	0%
		transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	50%
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		background-color: $gray
	100%
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
/* START TOOLTIP STYLES */
[tooltip]
	position: relative; /* opinion 1 */
	&>*
		transition: .9s all ease-in-out
/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after
	text-transform: none; /* opinion 2 */
	font-size: .9em; /* opinion 3 */
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 0;

[tooltip]::before
	content: '';
	border: 5px solid transparent; /* opinion 4 */
	z-index: 1001; /* absurdity 1 */

[tooltip]::after
	content: attr(tooltip); /* magic! */
	
	/* most of the rest of this is opinion */
	font-family: Helvetica, sans-serif;
	text-align: center;
	
	/* 
		Let the content set the size of the tooltips 
		but this will also keep them from being obnoxious
		*/
	min-width: 3em;
	max-width: 21em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1ch 1.5ch;
	border-radius: .3ch;
	box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
	background: #333;
	color: #fff;
	z-index: 1000; /* absurdity 2 */


/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after
	display: block;


/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after
	display: none !important;


/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: #333;

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after
	bottom: calc(100% + 5px);

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after
	left: 50%;
	transform: translate(-50%, -.5em);


/* FLOW: DOWN */
[tooltip][flow^="down"]::before
	top: 100%;
	border-top-width: 0;
	border-bottom-color: #333;

[tooltip][flow^="down"]::after
	top: calc(100% + 5px);

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after
	left: 50%;
	transform: translate(-50%, .5em);


/* FLOW: LEFT */
[tooltip][flow^="left"]::before
	top: 50%;
	border-right-width: 0;
	border-left-color: #333;
	left: calc(0em - 5px);
	transform: translate(-.5em, -50%);

[tooltip][flow^="left"]::after
	top: 50%;
	right: calc(100% + 5px);
	transform: translate(-.5em, -50%);


/* FLOW: RIGHT */
[tooltip][flow^="right"]::before
	top: 50%;
	border-left-width: 0;
	border-right-color: #333;
	right: calc(0em - 5px);
	transform: translate(.5em, -50%);

[tooltip][flow^="right"]::after
	top: 50%;
	left: calc(100% + 5px);
	transform: translate(.5em, -50%);


/* KEYFRAMES */
@keyframes tooltips-vert
	to
		opacity: .9;
		transform: translate(-50%, 0);

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after
	animation: tooltips-vert 300ms ease-out forwards;


[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after
	animation: tooltips-horz 300ms ease-out forwards;

.list
	&_circle
		list-style-type: none
		padding-left: 0
		li
			padding-left: 25px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 8px
				height: 8px
				background-color: $yel
				left: 0
				top: 8px
				border-radius: 50%
.popup__container
	padding: 40px
	background-color: transparent
	.fancybox-close-small
		top: 40px
		right: 40px
		color: #000
	.popup__wrp
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		position: relative
		&::before
			z-index: 1
			content: ''
			position: absolute
			height: 110%
			width: 110%
			top: -5%
			right: -5%
			bottom: -5%
			left: -5%
			z-index: 1
			background: #fff
			opacity: .7
	.popup_call__wrp
		max-width: 320px
		.popup
			width: 100%
			height: 100%
			position: relative
			z-index: 2
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-start
			background-color: #fff
			color: #2D2A2B
			padding: 20px 25px 30px
			text-align: center
			&__ttl
				font-family: $abold
				text-transform: uppercase
				font-size: 22px
				margin-bottom: 30px
			.form__input
				color: $gray
				margin-bottom: 15px
			input.form__input::placeholder
				color: #gray
			.btn
				width: 100%
				margin-bottom: 15px
			&__policy
				margin-top: 15px
				max-width: 230px
				text-align: center
				font-size: 12px
				a
					font-size: 12px 
					color: $yel
.owl-dots
	position: relative
	width: 100%
	display: flex
	justify-content: flex-start
	align-items: center
	// bottom: 0
	button.owl-dot
		width: 10px
		height: 10px
		border: 2px solid #000
		background-color: #000
		position: relative
		padding: 0 !important
		// transform: scale(1)
		&:not(:last-child)
			margin-right: 10px
		&.active
			// transform: scale(.8)
			// border-color: transparent
			background-color: $yel
.owl-carousel
	.owl-nav
		button.owl-prev,
		button.owl-next
			position: absolute
			top: 0
			// margin-bottom: -25.5px
			height: 100%
			display: flex
			align-items: center
			padding: 0 15px !important
			background-color: $tr
			// img
			// 	width: 17px
			// 	height: auto
		button.owl-prev:hover,
		button.owl-next:hover
			transform: scale(.9)
			background-color: #1e1e1ea8
		button.owl-prev.disabled,
		button.owl-next.disabled,
		button.owl-prev.disabled:hover,
		button.owl-next.disabled:hover
			opacity: 0
			cursor: default
			
		button.owl-prev
			left: 0
		button.owl-next
			right: 0
.section
	&_inner
		padding: 60px 0
	&__ttl
		font-size: 36px
		font-family: $abold
		letter-spacing: 1px
		margin-bottom: 35px
	&__subttl
		font-size: 24px
		font-family: $abold
		letter-spacing: .7px
		margin-bottom: 28px
.input__wrp
	position: relative
	border-radius: 4px
	background-color: #fff
	input,
	select
		width: 100%
		padding-left: 35px
		border: none
	&::before
		content: ''
		position: absolute
		left: 10px
		top: 50%
		width: 16px
		height: 16px
		transform: translate(0,-50%)
		@include ct
	&_name:before
		background-image: url(../img/icon__form-name.png)
	&_mail:before
		background-image: url(../img/icon__mail.png)
		// top: 8px
	&_tel:before
		background-image: url(../img/icon__form-tel.png)
		// top: 8px
	// &:not(:last-child)
	// 	margin-bottom: 15px
.header
	background-color: #202020
	&_main
		display: flex
		flex-direction: column
		align-items: space-between
		background-color: transparent
		background-image: url('../img/banner__bg.jpg')
		position: relative
		@include cv
		position: relative
		&::before
			@include ovl
			background-color: #000
			opacity: .6
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 150px
			bottom: 0
			left: 0
			background: linear-gradient(0deg, #1e1e1e 20%, #c3959500 100%);
		.container
			position: relative
			z-index: 1
		.header__top
			height: 10vh
	&__top
		padding: 30px 0
		font-size: 14px
	&__logo
		font-family: $abold
		font-size: 22px
	&__loc
		font-size: 14px
		background: linear-gradient(180deg, rgba(250, 250, 250, 0.15) 0%, rgba(250, 250, 250, 0) 100%), rgba(255, 255, 255, 0.1)
		border: 1px solid rgba(255, 255, 255, 0.5)
		padding-top: 8px
		padding-bottom: 8px
		&:hover
			background-color: $dark
			border-color: $dark
	&__sign
		&-link
			&:nth-child(1)
				position: relative
				margin-right: 30px
				&::after
					content: ''
					position: absolute
					width: 2px
					height: 100%
					background-color: #fff
					right: -19px
					top: 0
	&__hamb
		width: 20px
		height: 15px
		@include ct
		background-image: url('../img/header__hamb.svg')
		&:hover
			opacity: .7
			transform: scale(.9)
@keyframes mouse-spin
	0%
		transform: translateY(0px)
	40%
		transform: translateY(10px)
	80%
		transform: translateY(-5px)
.banner
	height: 77vh
	display: flex
	align-items: center
	&__offer
		max-width: 930px
		margin-left: auto
		margin-right: auto
	&__ttl
		font-size: 37px
		font-family: $abold
		text-align: center
		margin-bottom: 15px
	&__subttl
		font-size: 16px
		text-align: center
		max-width: 615px
		margin-left: auto
		margin-right: auto
	&__bar
		position: relative
		margin-top: 40px
		padding: 8px
		&::before
			@include ovl
			background-color: rgba(27, 27, 27, 0.75)
			border-radius: 4px
		&>*
			position: relative
		&-act
			&-link
				&:nth-child(1)
					position: relative
					margin-right: 30px
					&::after
						content: ''
						position: absolute
						width: 1px
						height: 38px
						background-color: #fff
						right: -19.5px
						top: 50%
						transform: translate(0,-50%)
		.input__wrp
			min-width: 295px
			background-color: #ffffff5e
			&::before
				background-image: url('../img/icon_earth.png')
			input
				color: #fff
			input::placeholder
				color: #fff
		.btn
			min-width: 150px
	&__bot
		height: 13vh
		padding: 15px 0
		&-btn
			cursor: pointer
			span
				font-family: $abold
				font-size: 16px
				margin-bottom: 15px
			img
				animation: mouse-spin linear 2s infinite
			&:hover
				transform: translateY(10px)
		&-lang
			&-link
				font-family: $sbold
				&:nth-child(1)
					position: relative
					margin-right: 20px
					&::after
						content: ''
						position: absolute
						width: 2px
						height: 100%
						background-color: #fff
						right: -12px
						top: 0
				&.active
					color: $yel
.pop
	background-color: $dark
	overflow: hidden
	&__item
		font-size: 16px
		color: #000
		background-color: #fff
		border-radius: 3px
		max-width: 420px
		margin-left: auto
		margin-right: auto
		&-top
			height: 280px
			width: 100%
			padding: 20px
			@include cv
			display: flex
			justify-content: flex-end
			
		&-rate
			border-radius: 3px
			overflow: hidden
			display: flex
			height: 40px
			span
				display: flex
				align-items: center
				&:nth-child(1)
					font-size: 12px
					font-family: $sbold
					text-align: center
					color: #fff
					padding: 8px
					background-color: rgba(27, 27, 27, 0.75)
				&:nth-child(2)
					font-size: 18px
					font-family: $abold
					background-color: $yel
					color: #000
					padding: 8px
		&-info
				padding: 20px 15px
		// .btn_tr
		// 	color: #000
		// 	&::before
		// 		background-color: #ccc
		&-ttl
			color: #000
			font-size: 24px
			font-family: $abold
		&-fav
			width: 25px
			height: 25px
			@include ct
			background-image: url('../img/icon__fav.png')
			opacity: .2
			&.active
				opacity: 1
			&:hover
				transform: scale(.85)
				opacity: 1
		p
			color: #4A4A4A
		&-char
			position: relative
			&:not(:last-child)
				margin-right: 30px
				&::after
					content: ''
					position: absolute
					width: 1px
					height: 100%
					background-color: #000
					opacity: .1
					right: -30px
					top: 0
			&-ttl
				font-family: $abold
				font-size: 18px
			&>div:nth-child(2)
				font-size: 14px
.sel
	color: #000
	.owl-dots
		position: relative
	&__in
		padding-left: 80px
		padding-right: 80px
	&__img
		width: 100%
		max-width: 550px
		height: 335px
		@include cv
		border-radius: 3px
	&__info
		font-size: 16px
	&__price
		font-size: 18px
		font-family: $abold
		span
			&:nth-child(2)
				color: $lgray
.let
	font-size: 16px
	color: #fff
	position: relative
	background-image: url('../img/let__bg.jpg')
	position: relative
	padding: 100px 0
	@include cv
	position: relative
	text-align: center
	&::before
		@include ovl
		background-color: #000
		opacity: .7
	.container
		position: relative
.ann
	color: #000
	.owl-nav button.owl-
		&next
			max-height: 440px
			&:hover
				transform: scale(1)
		&prev
			max-height: 440px
			&:hover
				transform: scale(1)
	&__item
		max-width: 340px
		margin-left: auto
		margin-right: auto
		&-img
			width: 100%
			height: 440px
			@include cv
		&-ttl
			color: #000
			font-family: $abold
			display: block
	&__in
		&-counter
			font-family: $abold
.footer
	color: #fff
	background-image: url('../img/footer__bg.jpg')
	padding: 40px 0
	&__link
		font-family: $abold
	&__let
		&-ttl
			font-family: $abold
	&__logo
		font-family: $abold
		font-size: 22px
		&-descr
			font-size: 14px