@import "../fonts/fonts.css"

$yel: #FFD542
$lyel: #FFDB5F
$dark: #1E1E1E
$gray: #4D4D4D
$lgray: #a1a1a1
$tr: transparent
$sreg: 'SFUIText-Regular'
$smed: 'SFUIText-Medium'
$ssem: 'SFUIText-Semibold'
$shev: 'SFUIText-Heavy'
$sbold: 'SFUIText-Bold'

$abold: 'AkzidenzGroteskPro-BoldEx'
$aexbold: 'AkzidenzGroteskPro-BoldEx'
@mixin ct
	background-position: 50% 50%
	background-size: contain
	background-repeat: no-repeat
@mixin cv
	background-position: 50% 50%
	background-size: cover
	background-repeat: no-repeat
@mixin ovl
	content: ''
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
body
	scroll-behavior: smooth
	background-color: #fff
	font-family: $sreg
	color: #fff
	font-size: 16px
	line-height: 1.6
	// letter-spacing: .9
	position: relative
	-webkit-font-smoothing: antialiased
*,
*:after,
*:before
	transition: .3s all ease-in
// .animated
// 	transition: unset
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color            : $dark
	background-color : $yel
::selection
	color            : $dark
	background-color : $yel
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: #fff
	&:hover
		color: $yel
button
	border: transparent
	background: none
option
	color: #2D2A2B
textarea
	resize:none
input,
textarea,
select
	color: $gray
	font-family: $sreg
	font-size: 14px
	padding: 14px 27px
	background: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none
input[type="number"]
	-moz-appearance: textfield
	appearance: textfield
input,
select
	border: none
	// border-bottom: 1px solid #000
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder
	color: #2D2A2B
input:focus,
textarea:focus,
input:active,
textarea:active
	background: none
	color: #2D2A2B
	border-radius: 3px
	box-shadow: 0px 0px 0px 1px $yel
	outline: none
.sr
	font-family: $sreg
.sm
	font-family: $smed
.ss
	font-family: $ssem
.sh
	font-family: $shev
.sb
	font-family: $sbold
.ab
	font-family: $abold
.shd,
	box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64)
	&:hover
		box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69)
.wt
	color: #fff !important
.bl
	color: #000 !important
.dot
	text-decoration: underline
	text-decoration-style: dotted
.und
	text-decoration: underline
.tac
	text-align: center
.checkbox
	// min-width: 200px
	cursor: pointer
	position: relative
	margin-bottom: 0
	input[type="checkbox"],
	input[type="radio"]
		position: absolute
		z-index: 1
		opacity: 0
		width: 100%
		height: 20px
		cursor: pointer
	.checkbox__text
		font-size: 14px
		position: relative
		padding-left: 30px
		cursor: pointer
		width: 100%
		height: 20px
		display: block
		&::before
			content: ''
			position: absolute
			top: -1px
			left: -2px
			width: 20px
			height: 20px
			border-radius: 4px
			border: 1px solid #fff
			background-color: #ffffff17
		&::after
			content: ''
			position: absolute
			top: 3px
			left: 1px
			width: 14px
			height: 12px
			background-image: url('../img/icon__checkbox.png')
			@include ct
			opacity: 0
			transform: scale(0)
			transition: 0.2s
		a
			color: #fff
			text-decoration: underline
			position: relative
			z-index: 2
	input[type="checkbox"]:checked + .checkbox__text:after,
	input[type="radio"]:checked + .checkbox__text:after
		opacity: 1
		transform: scale(1)
	input[type="checkbox"]:checked + .checkbox__text:before,
	input[type="radio"]:checked + .checkbox__text:before
		// background-color: #ffffff17
.btn
	font-size: 16px
	font-family: $shev
	text-align: center
	padding: 11px 27px
	color: #000
	background-color: $yel
	position: relative
	display: inline-block
	border-radius: 3px
	border: 1px solid $tr
	outline: none
	&:hover
		color: #000
		background-color: $lyel
		border-color: $lyel
	&_tr
		color: #fff
		background-color: transparent
		border: 1px solid #D0D0D0
		&:hover
			background-color: $gray
			border-color: $gray
			color: #fff
		&_black
			color: #000
			&:hover
				color: #fff
				background-color: $gray
.preloader
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	min-height: 100vh
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-content: space-around
	flex: 1 1 25%
	background-color: $dark
	z-index: 1000

.preloader__icon
	width: 4em
	height: 4em
	margin: auto
	background-color: $yel
	animation: rotating-plane 1.2s infinite ease-in-out

@keyframes rotating-plane
	0%
		transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	50%
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		background-color: $gray
	100%
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before
	border-top-color: $dark /* цвет стрелочки (по умолчанию #000)*/

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before
	border-right-color: $dark /* цвет стрелочки (по умолчанию #000)*/

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before
	border-bottom-color: $dark /* цвет стрелочки (по умолчанию #000) */

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before
	border-left-color: $dark /* цвет стрелочки (по умолчанию #000) */
.tooltip
	transition: .1s opacity ease-in-out
.popover
	// transition: .4s all ease
	// transform: translateY(-200px) !important
.tooltip-inner
	max-width: 250px /* максимальная ширина подсказки (по умолчанию 200px) */
	color: #fff /* цвет шрифта */
	background-color: $dark /* цвет фона (по умолчанию #000) */
	border-radius: 2px /* радиус скругления углов */
	// transition: unset

.popover
	color: #fff
	border-radius: 3px
	background-color: #1b1b1bbf
	max-width: 380px
	padding: 20px 18px
	transition: unset
	opacity: 0
	transition: .3s opacity ease-in-out
	left: -125px !important
	&-body
		color: #fff
.bs-popover
	&-bottom
		&>.arrow
			top: -9px
			left: auto !important
			right: 12px !important
			margin-left: -10px
			border-width: 0 10px 10px
			&::after
				// background-color: #1b1b1bbf
				border-bottom-color: #1b1b1bbf
			// &::before
				// background-color: #1b1b1bbf
				// border-bottom-color: #1b1b1b00
.pop-popover
	&__line
		&-wrp
			width: 315px
			height: 10px
			border-radius: 4px
			position: relative
		&-yel,
		&-bg
			height: 100%
			position: absolute
			left: 0
			top: 0
			border-radius: 4px
		&-bg
			width: 100%
			background: #fff
		&-yel
			background-color: $yel
	&__item
		transform: translateY(5px)
		opacity: 0
		font-size: 13px
		&:not(:last-child)
			margin-bottom: 7px
		&:nth-child(1)
			.pop-popover__line-yel
				width: 96%
		&:nth-child(2)
			.pop-popover__line-yel
				width: 96%
		&:nth-child(3)
			.pop-popover__line-yel
				width: 100%
		&:nth-child(4)
			.pop-popover__line-yel
				width: 86%
		&:nth-child(5)
			.pop-popover__line-yel
				width: 90%
		&:nth-child(6)
			.pop-popover__line-yel
				width: 94%
.show
	opacity: 1
	.pop-popover__item
		transform: translateY(0)
		opacity: 1
/* KEYFRAMES */
// @keyframes tooltips-vert
// 	to
// 		opacity: .9
// 		transform: translate(-50%, 0)

/* FX All The Things */ 
// [tooltip]:not([flow]):hover::before,
// [tooltip]:not([flow]):hover::after,
// [tooltip][flow^="up"]:hover::before,
// [tooltip][flow^="up"]:hover::after,
// [tooltip][flow^="down"]:hover::before,
// [tooltip][flow^="down"]:hover::after
// 	animation: tooltips-vert 300ms ease-out forwards


// [tooltip][flow^="left"]:hover::before,
// [tooltip][flow^="left"]:hover::after,
// [tooltip][flow^="right"]:hover::before,
// [tooltip][flow^="right"]:hover::after
// 	animation: tooltips-horz 300ms ease-out forwards

.list
	&_circle
		list-style-type: none
		padding-left: 0
		li
			padding-left: 25px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 8px
				height: 8px
				background-color: $yel
				left: 0
				top: 8px
				border-radius: 50%
.popup__container
	padding: 40px
	background-color: transparent
	.fancybox-close-small
		top: 40px
		right: 40px
		color: #000
	.popup__wrp
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		position: relative
		&::before
			z-index: 1
			content: ''
			position: absolute
			height: 110%
			width: 110%
			top: -5%
			right: -5%
			bottom: -5%
			left: -5%
			z-index: 1
			background: #fff
			opacity: .7
	.popup_call__wrp
		max-width: 320px
		.popup
			width: 100%
			height: 100%
			position: relative
			z-index: 2
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-start
			background-color: #fff
			color: #2D2A2B
			padding: 20px 25px 30px
			text-align: center
			&__ttl
				font-family: $abold
				text-transform: uppercase
				font-size: 22px
				margin-bottom: 30px
			.form__input
				color: $gray
				margin-bottom: 15px
			input.form__input::placeholder
				color: #gray
			.btn
				width: 100%
				margin-bottom: 15px
			&__policy
				margin-top: 15px
				max-width: 230px
				text-align: center
				font-size: 12px
				a
					font-size: 12px 
					color: $yel
.owl-dots
	position: relative
	width: 100%
	display: flex
	justify-content: flex-start
	align-items: center
	// bottom: 0
	button.owl-dot
		width: 10px
		height: 10px
		border: 2px solid #000
		background-color: #000
		position: relative
		padding: 0 !important
		// transform: scale(1)
		&:not(:last-child)
			margin-right: 10px
		&.active
			// transform: scale(.8)
			// border-color: transparent
			background-color: $yel
.owl-carousel
	.owl-nav
		button.owl-prev,
		button.owl-next
			position: absolute
			top: 0
			// margin-bottom: -25.5px
			height: 100%
			display: flex
			align-items: center
			padding: 0 15px !important
			background-color: $tr
			// img
			// 	width: 17px
			// 	height: auto
		button.owl-prev:hover,
		button.owl-next:hover
			transform: scale(.9)
			background-color: #1e1e1ea8
		button.owl-prev.disabled,
		button.owl-next.disabled,
		button.owl-prev.disabled:hover,
		button.owl-next.disabled:hover
			opacity: 0
			cursor: default
			
		button.owl-prev
			left: 0
		button.owl-next
			right: 0
.section
	&_inner
		padding: 60px 0
	&__ttl
		font-size: 36px
		font-family: $abold
		letter-spacing: 1px
		margin-bottom: 35px
	&__subttl
		font-size: 24px
		font-family: $abold
		letter-spacing: .7px
		margin-bottom: 28px
.input__wrp
	position: relative
	border-radius: 4px
	background-color: #fff
	display: flex
	input,
	select
		width: 100%
		padding-left: 35px
		border: none
	&::before
		content: ''
		position: absolute
		left: 10px
		top: 50%
		width: 16px
		height: 16px
		transform: translate(0,-50%)
		@include ct
	&_name:before
		background-image: url(../img/icon__form-name.png)
	&_mail:before
		background-image: url(../img/icon__mail.png)
		// top: 8px
	&_tel:before
		background-image: url(../img/icon__form-tel.png)
	&_text
		border: none
		position: relative
		border-radius: 4px
		background-color: #1E1E1E
		display: flex
.header
	background-color: #202020
	position: relative
	overflow: hidden
	&_main
		display: flex
		flex-direction: column
		// align-items: space-between
		background-color: transparent
		background-image: url('../img/banner__bg.jpg')
		position: relative
		@include cv
		position: relative
		&::before
			@include ovl
			background-color: #000
			opacity: .15
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 150px
			bottom: 0
			left: 0
			background: linear-gradient(0deg, #1e1e1e 20%, #c3959500 100%)
			opacity: .6
		.container
			position: relative
			z-index: 1
		.header__top
			height: 10vh
	&__top
		padding: 30px 0
		font-size: 14px
		&-in
			padding-right: 30px
	&__logo
		font-family: $abold
		font-size: 22px
	&__loc
		font-size: 14px
		background: linear-gradient(180deg, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%)
		border: 1px solid rgba(255, 255, 255, 0.4)
		padding-top: 8px
		padding-bottom: 8px
		padding-right: 14px
		color: #fff
		padding-left: 14px
		&:hover
			color: #fff
			background-color: $dark
			border-color: $dark
	&__cab
		min-width: 219px
		position: relative
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 230px
			left: 0
			top: -10px
			background-color: #1e1e1eb8
			border-radius: 3px
			opacity: 0
			visibility: hidden
			transform: translateY(-10px)
		&-top
			padding-left: 15px
			padding-left: 15px
			font-family: $smed
			font-size: 16px
			position: relative
		&-in
			position: absolute
			width: 100%
			left: 0
			top: 40px
			// transition: unset
			opacity: 0
			visibility: hidden
			transform: translateY(-10px)
		&.active
			&::before
				opacity: 1
				visibility: visible
				transform: translateY(0)
			.header__cab-in
				opacity: 1
				visibility: visible
				transform: translateY(0)
		&-link
			padding: 7px 15px
			display: block
			&:hover
				background-color: #1B1B1B
	&__sign
		&-link
			font-family: $aexbold
			&:nth-child(1)
				position: relative
				margin-right: 30px
				&::after
					content: ''
					position: absolute
					width: 2px
					height: 100%
					background-color: #fff
					right: -19px
					top: 0
	&__menu
		position: absolute
		width: 327px
		right: -100%
		background-color: #1B1B1B
		height: 100%
		padding: 110px 40px
		z-index: 2
		transition: .7s all cubic-bezier(0.25, 0.46, 0.45, 0.94)
		&.active
			position: fixed
		&>*
			position: relative
		&::before
			content: ''
			position: absolute
			width: 300%
			height: 100%
			background-color: #1B1B1B
			left: 100%
			top: 0
		&-nav
			display: flex
			flex-direction: column
			&-link
				font-family: $abold
				font-size: 16px
				margin-bottom: 30px
		&.active
			right: 50%
			margin-right: calc(-1320px/2)

.visuallyHidden 
	position: absolute
	overflow: hidden
	clip: rect(0 0 0 0)
	height: 1px
	width: 1px
	margin: -1px
	padding: 0
	border: 0
.hamburger
	// margin-top: -5.5px
	margin-bottom: 0
	width: 30px
	height: 15px
	position: relative
	cursor: pointer
	&:hover
		opacity: .7
	&__wrp
		position: absolute
		z-index: 4
		right: 50%
		top: 3.8vh
		margin-right: calc(-1320px/2)
		&.active
			position: fixed
		label
			margin-bottom: 0
.hamburger .bar
	padding: 0
	width: 30px
	height: 4px
	background-color: #fff
	display: block
	border-radius: 0
	transition: all 0.4s ease-in-out
	position: absolute
	z-index: 4
.bar1
	top: 0
.bar2,
.bar3
	top: 5.5px
	opacity: 0
.bar3
	right: 0

.bar4
	bottom: 0
	top: 0

.bar5
	bottom: 0px

.hamburger .bar
	transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s

.hamburger .bar2
	width: 1px
	transform: rotate(90deg)
	left: 13.5px

.hamburger .bar3 
	width: 1px
	left: 13.5px

.hamburger__checkbox:checked + label > .hamburger > .bar2
	left: 0px
	width: 30px
	transform: rotate(45deg)
	opacity: 1

.hamburger__checkbox:checked + label > .hamburger > .bar3
	left: 0
	width: 30px
	transform: rotate(-45deg)
	opacity: 1

.hamburger__checkbox:checked + label > .hamburger > .bar4
	background-color: transparent

.hamburger__checkbox:checked + label > .hamburger > .bar5
	bottom: 13.5px
	background-color: transparent 

@keyframes mouse-spin
	0%
		transform: translateY(0px)
	40%
		transform: translateY(10px)
	80%
		transform: translateY(-5px)

.banner
	height: 77vh
	display: flex
	align-items: center
	&>.container
		z-index: 2
	&__offer
		max-width: 930px
		margin-left: auto
		margin-right: auto
		transition: .6s all ease
		&.filter-open
			.banner__ttl
				transform: scale(.7)
				margin-bottom: 0
	&__ttl
		font-size: 37px
		font-family: $abold
		text-align: center
		margin-bottom: 15px
	&__subttl
		font-size: 16px
		text-align: center
		max-width: 615px
		margin-left: auto
		margin-right: auto
	&__bar
		position: relative
		margin-top: 40px
		padding: 8px
		font-size: 14px
		&-wrp
			position: relative
		&::before
			@include ovl
			background-color: rgba(27, 27, 27, 0.75)
			border-radius: 4px
		&>*
			position: relative
		&-act
			&-link
				font-family: $sreg
				font-size: 14px
				background: linear-gradient(180deg, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0) 100%)
				box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.4)
				width: 126px
				padding: 14px 10px
				color: #fff
				border-radius: 3px
				&.active,
				&:hover
					color: #fff
					background-color: $dark
					box-shadow: none
		.input__wrp
			min-width: 315px
			background-color: #ffffff2b
			&::before
				background-image: url('../img/icon_earth.png')
			input
				color: #fff
			input::placeholder
				color: #fff
		&-submit
			font-family: $shev
			width: 168px
	&-filter
		&__wrp
			margin-top: 10px
			display: none
			transition: unset
		&__top
			font-family: $abold
			font-size: 16px
			padding: 15px 20px
			text-align: center
			border-top-left-radius: 3px
			border-top-right-radius: 3px
			background-color: #252525e3
			position: relative
			&::after
				content: ''
				position: absolute
				top: -20px
				right: 244px
				border: 10px solid #0000
				border-bottom: 10px solid #252525e3
			&-btn
				position: absolute
				width: 17px
				height: 17px
				right: 20px
				top: 50%
				transform: translateY(-50%)
				background-image: url('../img/icon__cross.png')
				@include ct
				transition: .6s all ease
				cursor: pointer
				&:hover
					transform: translateY(-50%) rotate(180deg)
		&__bot
			border-bottom-left-radius: 3px
			border-bottom-right-radius: 3px
			// background-color: rgba(33, 33, 33, 0.7)
			background-color: #212121bf
		&__item
			padding: 12px 15px
			position: relative
			&:not(:last-child)
				border-bottom: 1px solid #ffffff2e
			&-ttl
				font-family: $abold
				font-size: 16px
				position: relative
				width: 100%
				cursor: pointer
				&::before,
				&::after
					content: ''
					position: absolute
					width: 15px
					height: 2px
					top: 10px
					right: 15px
					background-color: #fff
				&::after
					transform: rotate(90deg)
				&.active
					&::before
						// background-color: #fff
					&::after
						transform: rotate(180deg)
						// opacity: 0
			&-in
				transition: unset
			&_left
				padding: 0
				min-height: 50px
				display: flex
				align-items: center
				overflow: hidden
				.checkbox
					width: 100%
					height: 100%
					&__text
						height: 100%
						padding: 12px 15px
						div
							width: 100%
							height: 100%
							display: block
							position: relative
						&::after
							display: none
						&::before
							width: 100%
							height: 120%
							border: none
							background-color: $tr
							border-radius: 0
							left: 0
							top: -3px
					input[type="checkbox"]:checked + .checkbox__text:before,
					input[type="radio"]:checked + .checkbox__text:before
						// color: #000
						background-color: $yel
					input[type="radio"]:checked + .checkbox__text div
						color: #000
		&__right
			padding: 25px 15px 7px
		&__input
			color: #fff
			max-width: 115px
			padding: 11px 15px
			&:focus,
			&:active,
			&::placeholder
				color: #fff
		&__reset
			font-size: 14px
			color: #fff
			opacity: .5
			margin-top: 13px
			margin-bottom: 13px
		&__submit
			font-size: 14px
			font-family: $shev
			padding-top: 12px
			padding-bottom: 12px
			width: 100%
		&__slider
			margin-top: 30px
			width: 90%
			margin-left: 7px
			margin-right: auto
	&__bot
		height: 13vh
		padding: 15px 0
		&-btn
			cursor: pointer
			span
				font-family: $abold
				font-size: 16px
				margin-bottom: 15px
			img
				animation: mouse-spin linear 2s infinite
			&:hover
				transform: translateY(10px)
		&-lang
			&-wrp
				width: 142px
			&-link
				font-family: $sbold
				&:nth-child(1)
					position: relative
					margin-right: 20px
					&::after
						content: ''
						position: absolute
						width: 2px
						height: 100%
						background-color: #fff
						right: -12px
						top: 0
				&.active
					color: $yel
	&__soc
		&-link
			&:not(:last-child)
				margin-right: 43px
			&:hover
				img
					// display: block
					opacity: .4
.ui-slider
	position: relative
.ui-slider .ui-slider-handle
	position: absolute
	z-index: 2
	width: 25px
	height: 25px
	background-color: $yel
	border-radius: 50%
	cursor: pointer
	margin-top: -5px
	outline: none
	&:hover
		transform: scale(.8)
.ui-slider .ui-slider-range
	position: absolute
	z-index: 1
	font-size: .7em
	display: block
	border: 0
	overflow: hidden
.ui-slider-horizontal
	height: 6px
.ui-slider-horizontal .ui-slider-handle
	top: -5px
	margin-left: -6px
.ui-slider-horizontal .ui-slider-range
	top: 0
	height: 100%
.ui-slider-horizontal .ui-slider-range-min
	left: 0
.ui-slider-horizontal .ui-slider-range-max
	right: 0
.ui-widget-content
	background: #fff
.ui-widget-header
	background: #5C5C5C
.ui-corner-all
	-moz-border-radius: 4px
	-webkit-border-radius: 4px
	border-radius: 4px
.pop
	background-color: $dark
	overflow: hidden
	&__item
		font-size: 16px
		color: #000
		background-color: #fff
		border-radius: 3px
		max-width: 420px
		margin-left: auto
		margin-right: auto
		&-top
			height: 280px
			width: 100%
			padding: 20px
			@include cv
			display: flex
			justify-content: flex-end
			
		&-rate
			border-radius: 3px
			overflow: hidden
			display: flex
			height: 40px
			span
				display: flex
				align-items: center
				&:nth-child(1)
					font-size: 12px
					font-family: $sbold
					text-align: center
					color: #fff
					padding: 8px
					background-color: rgba(27, 27, 27, 0.75)
				&:nth-child(2)
					font-size: 18px
					font-family: $abold
					background-color: $yel
					color: #000
					padding: 8px
		&-info
				padding: 20px 16px
		&-btns
			.btn
				width: 186px
		&-ttl
			color: #000
			font-size: 24px
			font-family: $abold
		&-fav
			width: 25px
			height: 25px
			@include ct
			background-image: url('../img/icon__fav.png')
			opacity: .2
			&.active
				opacity: 1
			&:hover
				transform: scale(.85)
				opacity: 1
		p
			color: #4A4A4A
		&-char
			position: relative
			&-wrp
				width: 130px
				position: relative
				&:not(:last-child)
					&::after
						content: ''
						position: absolute
						width: 1px
						height: 70%
						top: 50%
						transform: translateY(-50%)
						background-color: #000
						opacity: .1
						right: 0px
			&-ttl
				font-family: $abold
				font-size: 18px
			&>div:nth-child(2)
				font-size: 13.5px
.sel
	color: #000
	.owl-nav
		button
			&.owl-prev,
			&.owl-next
				opacity: .3
				&:hover
					opacity: 1
					background-color: $tr
	.owl-dots
		position: relative
	&__in
		padding-left: 80px
		padding-right: 80px
	&__img
		width: 100%
		max-width: 550px
		height: 335px
		@include cv
		border-radius: 3px
	&__info
		font-size: 16px
	&__price
		font-size: 18px
		font-family: $abold
		span
			&:nth-child(2)
				color: $lgray
.let
	font-size: 16px
	color: #fff
	position: relative
	background-image: url('../img/let__bg.jpg')
	position: relative
	padding: 100px 0
	@include cv
	position: relative
	text-align: center
	&::before
		@include ovl
		background-color: #000
		opacity: .7
	.container
		position: relative
.ann
	color: #000
	.owl-nav button.owl-
		&next
			max-height: 440px
			&:hover
				transform: scale(1)
		&prev
			max-height: 440px
			&:hover
				transform: scale(1)
	&__item
		max-width: 340px
		margin-left: auto
		margin-right: auto
		&-btn
			font-size: 14px
			color: $dark
			// text-align: center
			// display: block
			// width: 100%
		&-img
			width: 100%
			height: 440px
			@include cv
			margin-bottom: 20px
		&-ttl
			color: #000
			font-family: $abold
			display: block
			margin-bottom: 25px
		&-descr
			// margin-bottom: 25px
			line-height: 1.7
			span
				// transition: unset
	&__in
		&-counter
			font-family: $abold
.footer
	color: #fff
	background-image: url('../img/footer__bg.jpg')
	padding: 40px 0
	&__link
		font-family: $abold
	&__let
		&-ttl
			font-family: $abold
	&__logo
		font-family: $abold
		font-size: 22px
		&-descr
			font-size: 14px